@page
@model ApartmentManagementClient.Pages.Bills.IndexModel
@{
}
<h1>Bill List</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Bill ID</th>
            <th scope="col">Type</th>
            <th scope="col">Amount</th>
            <th scope="col">Month</th>
            <th scope="col">Year</th>
            <th scope="col">Block</th>
            <th scope="col">Apartment Number</th>
            <th scope="col">Is Paid</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var bill in Model.GetBillsViewModel)
        {
        <tr>
            <th scope="row">@bill.Id</th>
            <td>@bill.Type</td>
            <td>@bill.Amount</td>
            <td>@bill.Month</td>
            <td>@bill.Year</td>
            <td>@bill.Apartment.Block</td>
            <td>@bill.Apartment.No</td>
            <td>@bill.IsPaid</td>
            <td>
            </td>
        </tr>
}
    </tbody>
</table>
