@model ApartmentManagementClient.Models.Bills.BillDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bill Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Month)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Month)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsPaid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsPaid)
        </dd>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apartment.Block)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apartment.Block)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apartment.No)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apartment.No)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apartment.IsEmpty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apartment.IsEmpty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apartment.User.TCIdentityNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apartment.User.TCIdentityNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apartment.User.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apartment.User.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apartment.User.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apartment.User.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apartment.User.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apartment.User.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apartment.User.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apartment.User.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apartment.User.LicensePlate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apartment.User.LicensePlate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apartment.User.IsOwner)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apartment.User.IsOwner)
        </dd>




    </dl>
</div>
<div>


    
    @if (!Model.IsPaid)
    {
    @Html.ActionLink("Pay", "Payment", new { id = Model.Id }) 
    }|
<a asp-action="Index">Back to List</a>
</div>
