@model IEnumerable<ApartmentManagementClient.Models.Message.MessageViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Message List</h1>

<p>
    <a asp-action="Create">Send Message</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Sender @Html.DisplayNameFor(model => model.Sender.FullName)
            </th>
            <th>
               Receiver @Html.DisplayNameFor(model => model.Receiver.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsRead)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sender.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Receiver.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRead)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
