@page
@model ApartmentManagementClient.Pages.User.IndexModel
@{
}
<h1>User List</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">User ID</th>
            <th scope="col">TC Identity Number</th>
            <th scope="col">Full Name</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Licence Plate</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.UsersViewModel)
        {
        <tr>
            <td>@user.Id</td>
            <td>@user.TCIdentityNumber</td>
            <td>@user.FullName</td>
            <td>@user.UserName</td>
            <td>@user.Email</td>
            <td>@user.PhoneNumber</td>
            <td>@user.LicensePlate</td>
            <td>
            </td>
        </tr>
        }
    </tbody>
</table>